[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang
	branch = sdk-1.3.239
[submodule "thirdparty/tinyexr"]
	path = thirdparty/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "thirdparty/termcolor"]
	path = thirdparty/termcolor
	url = https://github.com/ikalnytskyi/termcolor
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "thirdparty/libffi"]
	path = thirdparty/libffi
	url = https://github.com/libffi/libffi.git
[submodule "thirdparty/ImageMagick"]
	path = thirdparty/ImageMagick
	url = https://github.com/ImageMagick/ImageMagick.git
[submodule "thirdparty/oidn"]
	path = thirdparty/oidn
	url = https://github.com/OpenImageDenoise/oidn
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "thirdparty/--init"]
	path = thirdparty/--init
	url = https://github.com/KhronosGroup/glslang
[submodule "thirdparty/taskflow"]
	path = thirdparty/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "thirdparty/ImGuizmo"]
	path = thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
